{% extends "base.html" %}

{% block content %}

<h1>User Signup</h1>
<form action="/" method="post">
<table>
    <tbody><tr>
        <td>Username</td>
        <td>
            <input name="user" type="text" value="{{username}}">
            <span class="error">{{username_err}}</span>                        
        </td>
    </tr>
    <tr>
        <td>Password</td>
        <td>
            <input name="password" type="password" value="">
            <span class="error">{{password_err}}</span>
        </td>
    </tr>
    <tr>
        <td>Verify Password</td>
        <td>
            <input name="verify" type="password" value="">
            <span class="error">{{verify_err}}</span>
        </td>
    </tr>
    <tr>
        <td>E-Mail(optional)</td>
        <td>
            <input name="email" type="text" value="{{email}}">
            <span class="error">{{email_err}}</span>
        </td>
    </tr>
</tbody></table>
<input type="submit">
</form>

{% endblock %}